# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Play Framework
project/project
project/target
target
tmp
.history
dist

# IDE
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/.cache-main
/.cache-tests

# Project files:
public/javascripts/felicia.js
public/stylesheets/felicia-frontend.css