@import models.invoice.Invoice, models.invoice.InvoicePart,java.text.NumberFormat,java.util.Date,services.currencies.CurrenciesService,controllers.viewinput.InvoiceViewInput
@(viewInput: InvoiceViewInput)(implicit messages: Messages, lang: Lang)
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>@Messages("invoice") @viewInput.invoice.publicId</title>
		
		<base href="@viewInput.baseUrl" />
		
		<link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")' />
		<link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.css")' />
		<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/felicia-main.css")' />
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<address>
						<strong>@Messages("invoice.sold.by"):</strong><br />
						@viewInput.invoice.sellerName<br />
						@viewInput.invoice.sellerAddress<br />
						@viewInput.invoice.sellerZip @viewInput.invoice.sellerCity<br />
						@viewInput.invoice.sellerCountry <br />
						@Messages("invoice.tax.id"): @viewInput.invoice.sellerTaxId <br />
					</address>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4">
					<address>
						<strong>@Messages("invoice.buyer"):</strong><br />
						@viewInput.invoice.buyerName<br />
						@viewInput.invoice.buyerAddress<br />
						@viewInput.invoice.buyerZip @viewInput.invoice.buyerCity<br />
						@viewInput.invoice.buyerCountry
						@if(viewInput.invoice.buyerTaxId.length > 0) {
							<br />
							@Messages("invoice.tax.id"): @viewInput.invoice.buyerTaxId
						}
					</address>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-xs-4 text-left">
					@Messages("invoice.place.of.issue"): <strong>@viewInput.invoice.placeOfIssue</strong>
				</div>
				<div class="col-xs-4 text-center">
					@Messages("invoice.issue.date"): <strong>@viewInput.invoice.issueDate.format("yyyy-MM-dd")</strong>
				</div>
				<div class="col-xs-4 text-right">
					@Messages("invoice.order.date"): <strong>@viewInput.invoice.orderDate.format("yyyy-MM-dd")</strong> 
				</div>
			</div>
			<div class="form-group">
			    &nbsp;
			</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2>@Messages("invoice") @viewInput.invoice.publicId</h2>
				</div>
			</div>
			
			<div class="form-group">
				&nbsp;
			</div>
			<hr />
			
			<div class="row">
				<div class="col-xs-6">
					@Messages("invoice.payment.method"): <strong>@viewInput.paymentName</strong><br />
					@Messages("invoice.due.date"): <strong>@viewInput.invoice.dueDate.format("yyyy-MM-dd")</strong>
				</div>
				<div class="col-xs-6">
					@Html(viewInput.paymentDescription)
				</div>
			</div>
			<div class="form-group">
				&nbsp;
			</div>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th width="20" class="text-center">@Messages("invoice.parts.no")</th>
						<th class="text-center">@Messages("invoice.parts.name")</th>
						<th width="140" class="text-center">@Messages("invoice.parts.unit")</th>
						<th width="90" class="text-center">@Messages("invoice.parts.quantity")</th>
						<th width="120" class="text-center">@Messages("invoice.parts.price")</th>
						<th width="120" class="text-center">@Messages("invoice.parts.total")</th>
					</tr>
				</thead>
				
				<tbody>
					@for((part, index) <- viewInput.invoice.invoiceParts.zipWithIndex) {
						<tr class="vert-align">
							<td class="text-right">
								@(index + 1)
							</td>
							<td>
								@viewInput.translation(part, "name")
							</td>
							<td class="text-center">
								@Messages("invoice.parts.unit." + part.unit)
							</td>
							<td class="text-center">
								@viewInput.quantity(part)
							</td>
							<td class="text-right">
								@viewInput.unitPrice(part)
							</td>
							<td class="text-right">
								@viewInput.total(part)
							</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="form-group">
				&nbsp;
			</div>
			<div class="row">
				<div class="col-sm-6">
					@Messages("invoice.summary.total.amount"): <strong>@viewInput.invoiceTotal</strong>
					@if(viewInput.targetCurrencyUpperCase != viewInput.invoice.currency) {
						@viewInput.currencyRate.map { currencyRate =>
							<br />
							@Messages("invoice.summary.total.exchange.rate", viewInput.invoice.currency, currencyRate.day.format("yyyy-MM-dd")): <strong>@viewInput.currencyRateFormatted</strong>
						}
						@viewInput.invoiceTotalConverted.map { value =>
							<br />
							@Messages("invoice.summary.total.amount.target.currency", viewInput.targetCurrencyUpperCase): <strong>@value</strong>
						}.getOrElse {
							<br />
							@Messages("invoice.summary.total.amount.target.currency", viewInput.targetCurrencyUpperCase): --
						}
					}
				</div>
			</div>
		</div>
	</body>
</html>