@import models.invoice.Invoice,java.text.NumberFormat,java.util.Date,services.currencies.CurrenciesService,controllers.viewinput.InvoicesMonthlyViewInput
@(viewInput: InvoicesMonthlyViewInput)(implicit messages: Messages, lang: Lang)
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>@Messages("invoices.report.monthly.title"): @viewInput.year-@("%02d".format(viewInput.month))</title>
		
		<base href="@viewInput.baseUrl" />
		
		<link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")' />
		<link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.css")' />
		<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/felicia-main.css")' />
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<h4>@Messages("invoices.report.monthly.title"): @viewInput.year-@("%02d".format(viewInput.month))</h4>
		
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th width="120" class="text-center">@Messages("invoice.id")</th>
					<th class="text-center">@Messages("invoice.buyer")</th>
					<th width="140" class="text-center">@Messages("invoice.issue.date")</th>
					<th width="140" class="text-center">@Messages("invoice.order.date")</th>
					<th width="120" class="text-center">@Messages("invoice.amount")</th>
					<th width="120" class="text-center">@Messages("invoice.currency.rate")</th>
					<th width="120" class="text-center">@Messages("invoice.amount.currency", viewInput.targetCurrencyUpperCase)</th>
				</tr>
			</thead>
			
			<tbody>
				@for(invoice <- viewInput.invoices) {
					<tr class="vert-align">
						<td class="text-right">@invoice.publicId</td>
						<td>
							@invoice.buyerName 
							<br />
							@invoice.buyerAddress, @invoice.buyerCity, @invoice.buyerZip, @invoice.buyerCountry
						</td>
						<td class="text-center">
							@invoice.issueDate.format("yyyy-MM-dd")
						</td>
						<td class="text-center">
							@invoice.orderDate.format("yyyy-MM-dd")
						</td>
						<td class="text-right">
							@viewInput.amount(invoice)
						</td>
						<td class="text-right">
							@viewInput.currencyRate(invoice)
						</td>
						<td class="text-right">
							@viewInput.amountConverted(invoice)
						</td>
					</tr>
				}
				<tr>
					<th colspan="6" class="text-right">
						@Messages("invoices.report.monthly.amount.total"):
					</th>
					<th class="text-right">
						@viewInput.totalReportAmount
					</th>
				</tr>
				
			</tbody>
		</table>
	</body>
</html>