.loader {
	border: 6px solid #f5f5f5;
	border-radius: 50%;
	border-top: 6px solid #337ab7;
	border-right: 6px solid #337ab7;
	width: 34px;
	height: 34px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	display: inline-block;
}

.loader-lg {
	width: 46px;
	height: 46px;
	border-widh: 7px;
	border-top-width: 7px;
	border-right-width: 7px;
}

.loader-sm {
	width: 30px;
	height: 30px;
	border-widh: 4px;
	border-top-width: 4px;
	border-right-width: 4px;
}

.loader-xs {
	width: 22px;
	height: 22px;
	border-widh: 3px;
	border-top-width: 3px;
	border-right-width: 3px;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Calendar fix */
.input-calendar-wrapper {
	z-index: 100;
}

/* React-select validation error indicator */
.has-error .Select-control {
	border-color: #a94442;
}

.has-error .Select-placeholder {
	color: #a94442;
}

/* Bootstrap adjustments */
.pagination {
	margin: 5px 0;
}

.table-nonfluid {
	width: auto !important;
}

.table tbody > tr.vert-align > td {
	vertical-align: middle;
}

.modal-dialog.large-full {
    width: 80%;
}